@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="acercade" class="ml-md-auto">Acerca de UTEQ</a>
    </div>

    <div class="content px-4">
        @Body
        <div class="pieDePagina"><b>Alumno: </b>Waldir Said Pereyra Orozco</div>
    </div>
</div>
